<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav.ejs'); %>

    <h1>Update Records</h1>
    <form action="/addProject/:id/updatesInfo" method="post">
        <div>
            <h2><%= updatedInfo[0].project_title %></h2>
        </div>
        <input type="hidden" name="id" value="<%= updatedInfo[0].id %>">
        <div>
            <label for="proj_name">Project Name</label>
            <input type="text" name="proj_name" for="proj_name" value="<%= updatedInfo[0].project_title%>">
        </div>

        <div>
            <label for="proj_name">Description of Project</label>
            <!-- <textarea name="proj_dets" for="proj_name" value="<%= updatedInfo[0].project_description %>" cols="30" rows="10"></textarea> -->
            <input type="text" name="proj_dets" for="proj_name" value="<%= updatedInfo[0].project_description %>" style="width: 50%; height: 100px;">
        </div>
        <div class="dates">
            <input type="date" name="assigned_date" value="<%= new Date(updatedInfo[0].project_start_dt).toLocaleDateString('fr-CA') %>">
            <input type="date"  name="due_date" value="<%= new Date(updatedInfo[0].project_due_dt).toLocaleDateString('fr-CA') %>">
        </div>
        <div>
            <input type="submit" value="Make Adjustments">
        </div>
    </form>
</body>
</html>